/**************************************Management CSS*****************************************/
h1,h2,h4,h5,p {
	font-family:STHeiti,Microsoft JhengHei;
	font-weight:bold;
}

#M_wholewindow {
	width: 100%;
	height:100%;
	border: 1px black;
}


#M_topbar {
	width:100%;
	border: 2px solid black;
	height:100px;
	
}

#M_leftbar {
	width:250px;
	float: left;
	margin-left: 0px;
	background-color:#333;
	z-index: 100;
}
.left_header {
	width:inherit;
	height:30px;
	background:#1a2226;
	color:#4b646f;
	padding: 2px;
	font-size: 20px;
	text-align: left;
	font-style: italic;
}

.left-top {
	width:inherit;
	height:100px;
}

.left_menu_part {
	width: 100%;
	height: 100%;
	background-color: #222d32;
	
}

.left_menu_item {
	width: 240px;
	height: 36px;
	padding:5px;
	margin-left:0px;
	margin-bottom:0px;
	font-size: 20px;
	background-color: inherit;
}
				.left_menu_item .left_menu_sb a:visited:hover, .left_menu_item .left_menu_sb a:link:hover{
    			color: white;
    			text-align: center;
				}

				
				.left_menu_item:hover{
				border-left: 4px solid #3c8dbc;
				width: 232px;
				background-color: #1b2428;
				}
				
				.left_menu_itemhover{
				padding:5px;
				margin-left:0px;
				font-size: 20px;
				border-left: 4px solid #3c8dbc;
				width: 232px;
				background-color: #1b2428;
				}
				
				
				.left_menu_item a:link, .left_menu_item a:visited {
					color: #b8c7ce;
    				
    				text-decoration: none;
				}
				/*
				.left_menu_item > a {
					background-color: #337ab7;
				}*/
				

				.left_menu_sb {
				width:150px;
				height: 32px;
				margin-left: auto;
				margin-right: auto;
				/*border: 1px solid black;*/

				}

							.left_mainer { /*for opening hidden menu*/
							width: 235px;
							height: 144px;
							background-color: #1a2226;
							margin-left:0px;
							margin-top:0px;
							text-align: center;
							padding:5px;
	
							} 
							.left_mainer a:link:hover, .left_mainer a:visited:hover {
								color: white;
							}
							
							.left_mainer a:link, .left_mainer a:visited {
								color: #b8c7ce;
    				
    							text-decoration: none;
							}	
									/*  left_mainer  subpart*/
									.left_maineritem {
										width: 120px;
										height: 20px;
										margin-right: auto;
										margin-left:auto;
										border: 1px solid #b8c7ce;
										display: block;
										margin-top: 5px;
									}

									.left_maineritem:hover, .left_maineritem:active {
										cursor:pointer;
										color: white;
									}

.hidden {
   display: none !important;
}


#menu_portrait {
	width:60px;
	height:60px;
	margin-top:20px;
	margin-left:20px;
	border-radius:64px;
	position: absolute;
}

#menu_portrait img {
	width: 100%;
	height: 100%;
}

.online_b {
  width: 20px;
  height: 20px;
  background: url("/uploads/online.svg");
  float: left;
  
}

#status {
  width: 100px;
  height: 20px;
  top:100px;
  left:100px;
  position: absolute;
}

#menu_namebox {
	width: 150px;
	height:30px;
	top:220px;
  	left:90px;
  	position: absolute;
	float:left;
	
}

#menu_namebox p {
	margin-top:0;
	font-size:25px;
	font-weight: bold;
}

#M_rightbar {
	width:1150px;
	height: 1300px;
	float: left;
	margin: 0px;
	border-top: none; 
}

/*START M_rightbar subparts */
#M_rightbar_head {
	width:1000px;
	border: 1px solid black;
	height: 40px;
	float: left;
	margin-left: 0px;
	border-top: none; 
} 

#M_rightbar_bot {
	border: 1px solid black;
	margin-left:100px;
	border: 1px solid #dbdde1;
	background:#f8f8f8;
	z-index: 1;
	/*overflow: scroll;*/
}
/*START M_rightbar_bot subparts */
#M_rightbar_bot_main {
	width:1000px;
	
	margin-left:200px;
	margin-top: 50px;
	/*background:#e5e5e5;
	border: 1px solid pink;*/
}
/*START M_rightbar_bot_main subparts */
#M_rightbar_bot_main_headline {
	width:900px;
	border: 1px dashed gray;
	height: 100px;
	float:left;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}

#M_rightbar_bot_main_gen {
	width:900px;
	border: 1px dashed gray;
	height: 100px;
	float:left;
	margin-top: 0px;
	margin-left:auto;
	margin-right:auto;
}

#M_rightbar_bot_main_tag {
	width:900px;
	border: 1px dashed gray;
	height: 100px;
	float:left;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}

#M_rightbar_bot_main_link {
	width:900px;
	border: 1px dashed gray;
	height: 100px;
	float:left;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}

#M_rightbar_bot_dlink {
	width:900px;
	border: 1px dashed gray;
	float:left;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}


#M_rightbar_bot_main_vip {
	width:900px;
	border: 1px dashed gray;
	height: 100px;
	float:left;
	margin-top: 10px;
	margin-left:auto;
	margin-right:auto;
}

#M_rightbar_bot_main_cover {
	width: 900px;
	border: 1px dashed gray;
	
	margin-left:auto;
	margin-right:auto;
	float: left;
	margin-top: 10px;
	padding:0px;
}

#M_rightbar_bot_main_coverpic {
	width:200px;
	border: 1px solid black;
	height: 200px;
	float: right;
	margin-right: 50px;
	margin-top: 0px;
	box-shadow: 3px 3px 3px #888888;
}

#M_rightbar_bot_main_article {
	width:900px;
	border: 1px dashed gray;
	
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	float: left;
}

/*END M_rightbar_bot_main subparts */

/*END M_rightbar_bot subparts */

/*END M_rightbar subparts */


/* BOX DESIGN 1 *********************************************/
>
.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Microsoft JhengHei, Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Microsoft JhengHei, Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 0px;
    height:35px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 0px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    /*background: #1abc9c;*/
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
    background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
/*
.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid ;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
       background: rgb(69,72,77); 
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); 
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); 
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); 
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

*/
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover,

/*********************************************************************/
.btn {
	float:right;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 3px 3px 8px #666666;
  -moz-box-shadow: 3px 3px 8px #666666;
  box-shadow: 3px 3px 8px #666666;
  color: #ffffff;
  font-size: 18px;
  background: #222d32;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family:'PingFang-Regular', 'Microsoft YaHei','微软雅黑',tahoma,arial,simsun,'宋体';
}

.btn:hover {
  background: #405d70;
  text-decoration: none;
}

/**/
.hide {
  display:none;
}
