#contact_container {
	width: 1000px;
	background: rgba(224, 247, 250, 0.6);
	height:1000px;
	margin-left:auto;
	margin-right:auto;
	padding:50px;
	margin-top:0;
}

body{margin:0;padding:0;background: url(/confectionary.png);}

#hiring {
	width: 500px;
	height:400px;
	float:left;
	padding:5px;
	margin-top:0;
	
}

#others {
	width: 400px;
	height:400px;
	float:left;
	padding:5px;
	margin-top:0;
	
}

#partner  {
	width: 500px;
	height:200px;
	float:left;
	padding:5px;
	margin-top:0;
	
}
#report  {
	width: 400px;
	height:200px;
	float:left;
	padding:5px;
	margin-top:0;
	
}