#livechatsend {
	height: 40px;
	float: left;
	font-weight: bold;
}

#livechatbox {
	width: 418px;
	font-family: 'PingYang-Regular', Microsoft YaHei;
	font-size: 9pt;
	height: 52px;
	float: left;	
	-webkit-box-shadow: 1px 13px 61px -13px rgba(74,66,74,1);
	-moz-box-shadow: 1px 13px 61px -13px rgba(74,66,74,1);
	box-shadow: 1px 13px 61px -13px rgba(74,66,74,1);
	background: rgb(244,251,255);
	background: -moz-linear-gradient(left,  rgba(244,251,255,1) 1%, rgba(211,211,211,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(244,251,255,1)), color-stop(100%,rgba(211,211,211,1)));
	background: -webkit-linear-gradient(left,  rgba(244,251,255,1) 1%,rgba(211,211,211,1) 100%);
	background: -o-linear-gradient(left,  rgba(244,251,255,1) 1%,rgba(211,211,211,1) 100%);
	background: -ms-linear-gradient(left,  rgba(244,251,255,1) 1%,rgba(211,211,211,1) 100%);
	background: linear-gradient(to right,  rgba(244,251,255,1) 1%,rgba(211,211,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fbff', endColorstr='#d3d3d3',GradientType=1 );

}

#livechat_update_box {
	overflow-y: scroll;
	height: 540px;
	width: 420px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0,FinishOpacity=100,Style=1,StartX=0,FinishX=0,StartY=280,FinishY=300);
	-webkit-mask-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
	/* position: absolute; */
	background: rgb(244,251,255);
	background: -moz-linear-gradient(left,  rgba(244,251,255,1) 1%, rgba(211,211,211,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(244,251,255,1)), color-stop(100%,rgba(211,211,211,1)));
	background: -webkit-linear-gradient(left,  rgba(244,251,255,1) 1%,rgba(211,211,211,1) 100%);
	background: -o-linear-gradient(left,  rgba(244,251,255,1) 1%,rgba(211,211,211,1) 100%);
	background: -ms-linear-gradient(left,  rgba(244,251,255,1) 1%,rgba(211,211,211,1) 100%);
	background: linear-gradient(to right,  rgba(244,251,255,1) 1%,rgba(211,211,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fbff', endColorstr='#d3d3d3',GradientType=1 );
	
		
	}

/*#livechat_update_box #livechat_white {
	background-color: #ffffff;
} */

#livechat_update_box #livechat_black {
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
 

.chatmsg {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 5px;
	min-height: 40px;
}

.chatmsg img.livechat_avatar {
	float: left;
	width: 50px;
	height: 50px;
	margin-top: 3px;
	margin-left: 5px;
}

.chatmsg div.livechat_white {
	margin-left: 7px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	box-shadow: 0 0 9px #bbc6e8;
	padding: 9px;
	min-height: 40px;
	min-width: 100px;
	max-width: 300px;
	display: inline-block;
	word-wrap: break-word;
}

.chatmsg div.livechat_white {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.chatmsg div #livechat_black {
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
}

.chatmsg p {
	margin: 0;
	padding: 0;
	font-family: 'PingYang-Regular', Microsoft YaHei;
	font-size: 9pt;
}


/* livechat toolbar */

#livechat_toolbar {
	padding: 3px;
	width: 411px;
}

.ui-button {
	font-size: 8pt;
}

#livechat_format {
	display: inline-block;
}

.livechat_menu {
	width: 142px;
}
.livechat_menu li {

}
.ui-menu .ui-menu-item {
    width: 133px;
	font-size: 10pt;
    margin: 0px;
    padding: 4px;	
}

.livechat_toolbar_emoji_menu li {
	float: left;
	height: 22px;
	width: 22px;
}

.rainbow {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal normal bold 30px/normal "PingYang-Regular", "Bad Script", Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 3px 0 0 rgb(217,31,38) , 6px 0 0 rgb(226,91,14) , 9px 0 0 rgb(245,221,8) , 12px 0 0 rgb(5,148,68) , 15px 0 0 rgb(2,135,206) , 18px 0 0 rgb(4,77,145) , 21px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.rainbow:hover {
  text-shadow: -3px 0 0 rgb(217,31,38) , -6px 0 0 rgb(226,91,14) , -9px 0 0 rgb(245,221,8) , -12px 0 0 rgb(5,148,68) , -15px 0 0 rgb(2,135,206) , -18px 0 0 rgb(4,77,145) , -21px 0 0 rgb(42,21,113) ;
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.unicorn {
	font-weight: bold;
	font-size: 24pt;
	word-spacing: -8pt;
	padding: 5px;
}

.unicorn span {
	padding-top: 3px;
	padding-bottom: 3px;
}

.unicorn:hover span {      
	text-decoration: overline underline;
	cursor:pointer;    
    -webkit-animation: colorRotate 6s linear 0s infinite;
     -moz-animation: colorRotate 6s linear 0s infinite;
       -o-animation: colorRotate 6s linear 0s infinite;
          animation: colorRotate 6s linear 0s infinite;
}

@-webkit-keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}

@-moz-keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}

@-o-keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}

@keyframes colorRotate {
    from {
        color: rgb(255, 0, 0);
    }
    16.6% {
        color: rgb(255, 0, 255);
    }
    33.3% {
        color: rgb(0, 0, 255);
    }
    50% {
        color: rgb(0, 255, 255);
    }
    66.6% {
        color: rgb(0, 255, 0);
    }
    83.3% {
        color: rgb(255, 255, 0);
    }
    to {
        color: rgb(255, 0, 0);
    }
}
