#mcolumn_core {
	margin-top:0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;

}

#mcolumn_0 {
	width: 320px;
	margin-left: 20px;
	/*margin-right: 2%;*/
	margin-top:0px;

	float: left;
}

#mcolumn_1 {
	width: 320px;
	margin-left:20px;
	margin-right:20px;
	margin-top:0px;
	float: left;
}

#mcolumn_2 {
	width: 320px;
	margin-left:10px;
	margin-top:0px;
	float: left;
}

#mcolumn_3 {
	width: 320px;
	margin-left:20px;
	margin-top:0px;
	float: left;
}

/****************************load more***************************/

* {
  /* font-family: 'Open Sans', sans-serif; */
}
.button-fill {
  text-align: center;
  background: #ccc;
  display:  block;
  position: relative;
  text-transform: uppercase;
  margin: 25px;
  clear: both;
  width: 200px;
}
.button-fill:hover {
  cursor:pointer;
}
.button-fill.grey {
  background: #445561;
  color: white;
}
.button-fill.orange {
  background: #f26b43;
  color: #fff;
}
.button-fill.orange .button-inside {
  color: #f26b43;
}
.button-fill.orange .button-inside.full {
  border: 1px solid #f26b43;
}
.button-text {
  padding: 0 25px;
  line-height: 56px;
  letter-spacing: .1em;
}
.button-inside {
  width: 0px;
  height: 54px;
  margin: 0;
  float: left;
  position: absolute;
  top: 1px;
  left: 50%;
  line-height: 54px;
  color: #445561;
  background: #fff;
  text-align: center;
  overflow: hidden;
  -webkit-transition: width 0.5s, left 0.5s, margin 0.5s;
  -moz-transition: width 0.5s, left 0.5s, margin 0.5s;
  -o-transition: width 0.5s, left 0.5s, margin 0.5s;
  transition: width 0.5s, left 0.5s, margin 0.5s;
}
.button-inside.full {
  width: 100%;
  left: 0%;
  top: 0;
  margin-right: -50px;
  border: 1px solid #445561;
}
.inside-text {
  text-align: center;
  position: absolute;
  right: 50%;
  letter-spacing: .1em;
  text-transform: uppercase;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
